<!DOCTYPE HTML>
<html>
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="/stylesheets/mystyle.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/jquery.tmpl.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="/javascripts/myscript.js"></script>
</head>
<body>

<div id="search_user" data-role="page" data-title='search_user'>
    <div data-role="panel" id="sidebar" data-display="overlay">
        <div id = "to_home_outer">
            <div class="ui-grid-a" onclick="location.href='/board/main/1'">
                <div class="ui-block-a" style="width:20%; float:left; height: 120px;">
                    <a><img src="/images/menu_home.png" id = "to_home_icon" alt='icon'/></a>
                </div>
                <div id="to_home" class="ui-block-b" style="width:80%; float:left;"><p>홈으로 이동</p></div>
            </div>
        </div>
        <div id="my_profile">
            <div class="ui-grid-a">
                <div class="ui-block-a" style="width:40%; vertical-align: middle">
                    <p>
                        <%if(profile.thumbnail == null){%><img src="/images/mini_normal.jpg" id = "profile_thumbnail" style="height: 100%;" alt='icon'/><%}%>
                        <%if(profile.thumbnail != null){%><img src="<%=profile.thumbnail%>" id = "profile_thumbnail" style="height: 100%;" alt='icon'/><%}%>
                    </p>
                </div>
                <div class="ui-block-b" style="width:60%; vertical-align: middle">
                    <p><a id="name"><%= profile.name %></a><a id="address"><%= profile.address_gu %></a><br/>
                        <% if(profile.isTutor == 1){
                                (profile.subjects).forEach(function(subject){%>
                        <a class="subjects"><%= subject %></a>
                        <%
                        })
                        } else { if(profile.school_name != undefined){%><a id="school"><%= profile.school_name %></a>&nbsp<a id="grade"><%= profile.school_grade %></a> <%}}%>
                    </p>
                </div>
            </div>
        </div>
        <div id="menu_list">
            <ul data-role="listview">
                <li style="display: table-cell; vertical-align: middle;"><a href="acura.html"><img src="/images/menu_a.png">지인을 찾아보세요</a></li>
                <li><a href="audi.html"><img src="/images/menu_b.png">내 인맥</a></li>
                <li><a href="bmw.html"><img src="/images/menu_c.png">알림</a></li>
                <li><a href="bmw.html"><img src="/images/menu_d.png">공지사항</a></li>
                <li><a href="bmw.html"><img src="/images/menu_e.png">설정</a></li>
            </ul>
        </div>
    </div>

    <header data-role='header' data-theme='c'>
        <h1><img src="/images/hellotutor2.png" id = "logo_header" alt='logo'/></h1>
        <a href='/board/main/1' data-icon='arrow-l' data-iconpos='notext'></a>
        <!-- <a href='#info' data-icon='info' data-iconpos='notext' data-rel='dialog'></a> -->
    </header>
    <div data-role="navbar">
        <ul>
            <li><a data-ajax="false">사람</a></li>
            <li><a href="" data-ajax="false" class="ui-btn-active">선생님</a></li>
            <li><a href="" data-ajax="false">수업</a></li>
        </ul>
    </div>
    <div class="ui-grid-a">
        <div class="ui-block-a" style="width:90%; vertical-align: middle">
            <input type="search" name="keyword" id="keyword"/>
        </div>
        <div class="ui-block-b" style="width:10%; vertical-align: middle">
            <input type="button" name="keyword" id="keyword" data-icon='search' data-iconpos='notext' onclick="search_tutor()"/>
        </div>
    </div>
    <section data-role='content'>
        <ul data-role="listview" id="tutor_list">
        </ul>
    </section>
</div>

</body>
</html>
